body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./Assets/Background_Image.png');
    background-size: cover;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  h2 {
    font-size: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

input {
  display: flex;
  align-items: center;
  margin: 5px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

label {
  align-self: flex-start;
}

.submit-button {
  margin-top: 20px;;
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#fff;
  border-color:#566963;
  font-weight:bold;
  border-radius:5px;
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
  text-shadow:inset 0px -1px 0px #2b665e;
  background:linear-gradient(#768d87, #6c7c7c);
}

.submit-button:hover {
  background: linear-gradient(#6c7c7c, #768d87);
}

.book-collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: 5px;
}

.individual-book {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.select-link {
  margin-top: 5px;
  margin-left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:15px;
  font-family:Arial;
  width: 120px;
  height:30px;
  border-width:1px;
  color:#757d6f;
  border-color:#b2b8ad;
  font-weight:bold;
  border-radius:5px;
  box-shadow:inset 0px 0px 14px -3px #f2fadc;
  text-shadow:inset 0px 1px 0px #ced9bf;
  background:linear-gradient(#dbe6c4, #9ba892);
}

.select-link:hover {
  background: linear-gradient(#9ba892, #dbe6c4);
}